<!doctype html>

<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title> <%= title %> </title>
    <meta name="description" content="A project for learning html css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="HTML / CSS">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="manifest" href="./site.webmanifest">
    <link rel="apple-touch-icon" href="./images/favicon.png" type="image/png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="./styles/styles.min.css" type="text/css">
    <meta name="theme-color" content="#fafafa">
    <script type="module" src="./js/bundled.min.js"></script>
    <!--[if lt IE 7]>
        <div style=' clear: both; height: 59px; padding:0 0 0 15px; position: relative;'>
	        <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." /></a>
        </div>
    <![endif]-->
</head>
