<%- include ('./views/partials/head.ejs') %>

<body>
<a class="skiplink" href="#content">Skip to main content</a>

<%- include ('./views/partials/header') %>

    <h1><%= title %></h1>
    <p>Welcoming you to my new project from Hell</p>
    <%- include ('./views/partials/footer') %>
  </body>
</html>
