<%- include ("./partials/head") %>

<body>
<%- include ("./partials/header") %>

    <h1><%= title %></h1>
    <p>This will be list of users.</p>
    <%- include ("./partials/footer") %>
  </body>
</html>